<!--menucontainer-->
<div class="menucontainer">
  <div class="menuC">
    KADIN DOĞUM
    <%= link_to "Ayrıntılar için tıklayınız.", "bolumler", class: "menuhover"%>
  </div>


  <div class="menuC">
    DOKTORLARIMIZ
    <%= link_to "Ayrıntılar için tıklayınız.", "doktorlar", class: "menuhover"%>
  </div>


  <div class="menuC">
    TANI ÜNITELERİMİZ
    <%= link_to "Ayrıntılar için tıklayınız.", "unitelerimiz", class: "menuhover"%>
  </div>


  <div class="menuC">
    TIBBI BİLİMLERİMİZ
    <%= link_to "Ayrıntılar için tıklayınız.", "bolumler", class: "menuhover"%>
  </div>


  <div class="menuC">
    ANLAŞMALI KURUMLAR
    <%= link_to "Ayrıntılar için tıklayınız.", "kurumlar", class: "menuhover"%>
  </div>


  <div class="menuC">
    ONLİNE RANDEVU
    <%= link_to "Ayrıntılar için tıklayınız.", "randevu", class: "menuhover"%>
  </div>


</div><!--End menucontainer-->