<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>


  <body>

  <%= image_tag "bg.jpg", class: "bgimage"%>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <!--header-->
  <div class="header">

    <div class="head">
      <%= link_to "Ana Sayfa", "home", class: "navigator"%>
      <!--logo-->
      <%= image_tag "logo.png", class: "logo" %>
      <!--menu-->
      <%= render :partial => 'shared/menu'%>
    </div>
  </div><!--end header-->

  <%= yield %>
    <div class="banner">
      <div class="inner">


        <!--menuvertical-->
        <div class="menuvertical">
          <div class="click1">KADIN DOĞUM</div>
          <%= link_to "Ayrıntılar için tıklayınız.", "bolumler", class: "clicktext"%>
          <div class="click2">DOKTOLARIMIZ</div>
          <%= link_to "Ayrıntılar için tıklayınız.", "doktorlar", class: "clicktext"%>
          <div class="click3">&nbsp; TIBBI BİLİMLERİMİZ</div>
          <%= link_to "Ayrıntılar için tıklayınız.", "bolumler", class: "clicktext"%>
          <div class="click4">&nbsp; TANI ÜNİTELERİMİZ</div>
          <%= link_to "Ayrıntılar için tıklayınız.", "unitelerimiz", class: "clicktext"%>
        </div><!--end menuvertical-->





        <!--slider-->
        <div class="slider">
          <div id="slideshow">
            <ul class="slides">
              <li><%= image_tag "1.png", size: "700x550", alt: "Metro Hastanesi" %></li>
              <li><%= image_tag "2.png", size: "700x550", alt: "Metro Hastanesi" %></li>
              <li><%= image_tag "3.png", size: "700x550", alt: "Metro Hastanesi" %></li>
              <li><%= image_tag "4.png", size: "700x550", alt: "Metro Hastanesi" %></li>
            </ul>
            <span class="arrow previous"></span>
            <span class="arrow next"></span>
          </div>
        </div><!--end slider-->




        <!--containerbox-->
        <div class="containerbox">
          <div class="box1">Hastanemizden Online Randevu almak için <%= link_to "Tıklayın", "randevu", class: "boxtext"%></div>
          <div class="box2">Laboratuvar sonuçlarınızı görmek için<%= link_to "Tıklayın", "home", class: "boxtext"%></div>
        </div><!--end containerbox-->




        <!--news-->
        <div class="news">
          <h2 class="newsH">Son Haberimiz: 14.02.2012 CİLDİYE POLİKLİNİĞİMİZDE</h2>
          <p class="newsT">
            Botoks ve dolgu uygulamaları, mezonoller (mikro iğneleme) ile akne izleri, stria(hamilelik çatlamaları)tedavisi, kimyasal peeling ile yüzeyel akne izleri, leke, ince kırışıklık ve gözeneklerin tedavisi ve cilt bakımına başlanmıştır.</p>
          <%= link_to "Tum Haberler", "haber", class: "newsA"%>
        </div><!--end news-->







        <!--footer-->
        <div class="footer">
          <div class="menudown">
            <h1>HASTANEMİZ</h1>
            Özel Metro Hastanesi “Hasta Memnuniyeti” ...
            <%= link_to "Daha fazla bilgi", "hastanemiz", class: "menutext"%>
          </div>
          <div class="menudown">
            <h1>ANLAŞMALI KURUMLAR</h1>
            Kalifiye uzman tıbbi ve idari kadrosu ve...
            <%= link_to "Daha fazla bilgi", "kurumlar", class: "menutext"%>
          </div>
          <div class="menudown">
            <h1>İLETİŞİM</h1>
            "Ozel Adana METRO Hastanesi"
            <%= link_to "Daha fazla bilgi", "contact", class: "menutext"%>
          </div>
        </div><!--end footer-->



        <!--info-->
        <div class="info">
          © Copyright 2013. Tüm Hakları Saklıdır. Özel Adana Metro Hastanesi. Mustafa Kemal Paşa Blv. No:15 Seyhan / ADANA.
          <%= link_to image_tag("maaslogo.png"), "http://www.malikaslan.com/", class: "adress"%>
        </div><!--end info-->




      </div><!--end inner-->
    </div><!--end banner-->
    <%= render 'shared/javascripts' %>
  </body>
</html>
